* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMUNI */
.flex {
    display: flex;
}

img {
    width: 100%;
    height: 100%;
}

header,
footer {
    color: white;
}

/* /COMUNI */

/* HEADER */

header {
    background-color: black;
    height: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.relativo {
    position: relative;
}

.icona-header {
    position: absolute;
    top: 2px;
    right: 5px;
}

.icona-speaker {
    width: 100px;
    background-color: grey;
    font-size: 10px;
    padding: 4px;
    border-radius: 5px;
}

.icona-multi {
    background-color: grey;
    padding: 3px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 5px;
}

/* /HEADER */


/* MAIN */

main {
    height: calc(100vh - 100px);
    overflow-x: hidden;
    padding: 20px 0;
    background-color: black;
}

.contenitore-main {
    margin: 0 15px;
}

.utenti {
    flex-wrap: wrap;
    justify-content: space-around;
}

.user {
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    bottom: 0;
}

.identificativo {
    color: white;
    background-color: grey;
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* /MAIN */



/* FOOTER */

footer {
    background-color: #222222;
    height: 70px;
}

.icona-footer {
    justify-content: space-between;
}

.contenitore-footer {
    padding: 10px 10px 0 10px;
    text-align: center;
}

.freccia {
    align-items: center;
    padding-right: 10px;
}

.bottone {
    width: 200px;
    background-color: #4a4a4a;
    justify-content: center;
    align-items: center;
}


/* STYLE A */

.icona-footer a {
    font-size: 30px;
    margin: 0 8px;
}

.freccia a {
    font-size: 20px;
}

.bottone a {
    color: red;
    font-size: 20px;
}

/* /STYLE A */
/* /FOOTER */